<!DOCTYPE html>
<html lang="en">
<head>
  <title>Order Ready | Three Monkeys</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <script src="/static/js/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nova+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <script src="/static/js/bootstrap.min.js"></script>

<style>

   table{
    text-align: center;
   }

    th{
      text-align: center;
    }
    td{
      color: #c21111;
      font-family: impact;
      font-size: 4em;
    }

</style>
</head>
<body>

<div class="container">

<div style="text-align: center">
        <br>
    <center> <img src="/static/img/glass.png" class="img-responsive"></center>
        <h2 style="font-family: 'Nova Script', cursive;color:#28839c">Three Monkeys</h2>
        <h3 style="font-family: 'Nova Script', cursive;color:#2d535e">Ready to take<u></u></h3>

</div>

    <table class="table table-bordered" width="100%">
 <br><br>
    <tbody>
    {% for b in date_view %}
      <tr>
        <td>{{ b[0] }}</td>
        <td>{{ b[0] }}</td>
        <td>{{ b[0] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

 </div>
<br>
<br><br><br>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
     <div style="text-align: center;"> <p class="navbar-text ">© 2017 | Three Monkeys, Ghent
      </p>
      </div>
    </div>


  </div>

<script>
function goBack() {
    window.history.back();
}
</script>

</body>
</html>