<!DOCTYPE html>
<html lang="en">
<head>
  <title>Order Summary | Three Monkeys</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <script src="/static/js/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nova+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <script src="/static/js/bootstrap.min.js"></script>

<style>

   table{
    text-align: center;
   }

    th{
      text-align: center;
    }
    .img-responsive {
    margin: 0 auto;
}

</style>
</head>
<body>

<div class="container">

<div style="text-align: center">
        <br>
        <img src="/static/img/glass.png" class="img-responsive">
        <h2 style="font-family: 'Nova Script', cursive;color:#28839c">Three Monkeys</h2>
        <br>
            <img src="/static/img/tick_blue.png" class="img-responsive" width="20%;">
mysql -u satyamkapoor -h satyamkapoor.mysql.pythonanywhere-services.com 'satyamkapoor$python_apc'  < db_final.sql
        <h4 style="font-family: 'Anton', sans-serif;color: #28839c;">Order Placed : #{{ ordrno }}</h4>
        <br>

</div>



 </div>
<br>
<br><br><br>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
     <div style="text-align: center;"> <p class="navbar-text ">© 2017 | Three Monkeys, Ghent
      </p>
      </div>
    </div>


  </div>



</body>
</html>